<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JoyStick Jury</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="recent-news-boxes.css" rel="stylesheet/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
    <nav class="navbar">
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search JoystickJury...">
                <button type="submit">Search</button>
            </form>
        </div>
    <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <a href="/profiles/<%=user._id %>/show">PROFILE</a>
    <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img class="google" src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
    </nav>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Joystick Jury</title>
    </body>
</head>
<body>
    <center><nav class="jurycon">
        <a href="/">Home</a> |
        <a href="/blogs/index">Blog</a> |
        <a href="/news">Gamer News</a> |
        <a href="/videogames">Game Index</a> 
    </nav>

    <header>
    <img src="/images/jjlogo.png" alt="jjlogo" class="logo">
   </header></center>