<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Joystick Jury</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@100&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="recent-news-boxes.css" rel="stylesheet/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
  <nav class="navbar">
    <div class="profile-logout-container">
        <% if (user) { %>
            <a href="/profiles/<%=user._id %>/show">PROFILE</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img class="google" src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </div>
    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search JoystickJury...">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>
</nav>


    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Joystick Jury</title>
    </body>
</head>
<body>
  <center><nav class="jurycon">
        <a href="/">Home</a> |
        <a href="/blogs/index">Blog</a> |
        <a href="/news">Gamer News</a> |
        <a href="/videogames">Game Index</a> 
    </nav>

    <header>
      <img src="/images/jjlogo.png" alt="jjlogo" class="logo">
     </header></center> 

    <div class="column">
        <!-- this is the LEFT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
       <center> <h2>Game of the Month</h2>
        <hr class="dotted">
        <section class="gameofmonth">
          <div class="container">
             <!-- <h3 class="news-title">Recent Verdicts</h3>  -->
            <div class="row">        
              <div class="ct-blog col-sm-6 col-md-4">
                <div class="inner">
                  <div class="fauxcrop">
                    <a href="/videogames/655e76ba6f17cf0187a1ac05"><img alt="video game" src="https://cdn2.unrealengine.com/fall-guys-season-pass-2000x1125-b51956a046b0.png"></a>
                  </div>
                  <div class="ct-blog-content">
                    <!-- <div class="ct-blog-date"> -->
                      <!-- <span>January</span><strong>7</strong> -->
                    <!-- </div> -->
                    <h3 class="ct-blog-header">
                       Fall Guys
                    </h3>
                  </div>
                </div>
              </div>
            </div>
        </section></center>
        <hr class="dotted">
        <div class="genres"> 
          <h2>Popular Genres</h2>
          <ul>
           <li><a href="/search?query=action">Action</a></li>
           <li><a href="/search?query=adventure">Adventure</a></li>
            <li><a href="/search?query=fighting">Fighting</a></li>
            <li><a href="/search?query=shooter">First Person Shooter</a></li>
            <li><a href="/search?query=rpg">Role-Playing</a></li>
            <li><a href="/search?query=simulation">Simulation</a></li>
          </ul>
</div>
  <hr class="dotted">
   <div class="socialmedia"> 
    <h3>Follow Us!</h3>
      <a href="https://www.facebook.com"><img alt="facebook" src="/images/facebook.png"></a>
      <a href="https://www.instagram.com"><img alt="instagram" src="/images/instagram.png"></a></br>
      <a href="https://www.twitter.com"><img alt="twitter" src="/images/twitter.png"></a>
      <a href="https://www.youtube.com"><img alt="youtube" src="/images/youtube.png"></a>
      </div>
     </div>
  </div>

<div class="column">
       <!-- this is the MIDDLE column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
       <!--here we will insert the most recent headline of a game. we can try to use an API to import news -->
       <center><h2>Recent Verdicts</h2>
     <hr class="dotted">
       <section class="recentNews">
        <div class="container">
           <!-- <h1 class="news-title">Recent Verdicts</h1>  -->
          <div class="row">        
            <div class="ct-blog col-sm-6 col-md-4">
              <div class="inner">
                <div class="fauxcrop">
                  <a href="https://www.gamespot.com/articles/resident-evil-code-veronica/1100-2323350/"><img alt="video game" src="https://media.wired.com/photos/62feb60bcea7c0581e825cb0/master/pass/Fate-of-Game-Preservation-Games-GettyImages-1170073827.jpg"></a>
                </div>
                <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>January</span><strong>8</strong>
                  </div>
                  <h3 class="ct-blog-header">
                     Resident Evil: Code Veronica
                  </h3>
                </div>
              </div>
            </div>
          </div>
  <hr class="rounded">
       
           <div class="row">        
             <div class="ct-blog col-sm-6 col-md-4">
               <div class="inner">
                 <div class="fauxcrop">
                   <a href="/news"><img alt="video game" src="https://imageio.forbes.com/specials-images/imageserve/65166fdaa6a52a71706371d4/Game-On--The-Top-10-Video-Game-Trends-In-2024/960x0.jpg?height=399&width=711&fit=bounds"></a>
                 </div>
                 <div class="ct-blog-content">
                   <div class="ct-blog-date">
                     <span>February</span><strong>17</strong>
                   </div>
                   <h3 class="ct-blog-header">
                    Online Gaming... $4.9 billion Worth
                   </h3>
                 </div>
               </div>
             </div>
           </div>

           <hr class="rounded">

           <div class="row">        
            <div class="ct-blog col-sm-6 col-md-4">
              <div class="inner">
                <div class="fauxcrop">
                  <a href="/news"><img alt="video game" src="https://img.freepik.com/premium-photo/illustration-gaming-joystick_800563-4110.jpg"></a>
                </div>
                <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>February</span><strong>17</strong>
                  </div>
                  <h3 class="ct-blog-header">
                    HP Lovecraft Horror Coming
                  </h3>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div></center> 
    
    <!-- blog post-->
          
    <div class="column">
           <!-- this is the RIGHT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
     <center> <h2>Upcoming Games</h2>
      <div class="upcominggames">
        <hr class="dotted">
        <h3>Alone In The Dark: January 16, 2024</h3>
        <a href="https://www.gamespot.com/games/alone-in-the-dark/"><img alt="alone in the dark" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Alone_in_the_dark_2022.jpg/220px-Alone_in_the_dark_2022.jpg" class="game-container"></a></br>
         <hr class="dotted">
        <h3>Prince of Persia: The Lost Crown: January 18, 2024</h3>
        <a href="https://www.gamespot.com/games/prince-of-persia-the-lost-crown/"><img alt="under night" src="https://upload.wikimedia.org/wikipedia/en/a/a0/Prince_of_Persia_The_Lost_Crown_cover_art.jpg" class="game-container"></a>
        <hr class="dotted">
        <h3>Tekken 8: January 26, 2024</h3>
        <a href="https://www.gamespot.com/games/tekken-8/"><img alt="tekken8" src="https://upload.wikimedia.org/wikipedia/en/b/b4/Tekken_8_cover_art.jpg" class="game-container"></a>
       
      </div> 
    </center>
 
</div>
</div>
</body>
</br>
  