<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Joystick Jury</title>
</head>
<body>
  <center><nav class="jurycon">
        <a href="/">Home</a>
        <a href="/">Jury Box</a>
        <a href="/">Features</a> 
        <a href="/">Evidence</a>
        <a href="/videogames">The Verdicts</a> 
    </nav></center>  
<center><h1>JoYsTiCk JuRy</h1></center>