<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search JoystickJury...">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Joystick Jury</title>
</head>
<body>
  <center><nav class="jurycon">
        <a href="/">Home</a>
        <a href="/">Jury Box</a>
        <a href="/">Features</a> 
        <a href="/">Evidence</a>
        <a href="/videogames">The Verdicts</a> 
    </nav></center>  
<center><h1>JoYsTiCk JuRy</h1></center>

<div class="row">
    <div class="column">
        <!-- this is the LEFT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
    </div>
    <div class="column">
       <!-- this is the MIDDLE column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
    </div>
    <div class="column">
       <!-- this is the RIGHT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
    </div>
  </div>
