<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Profile</title>
</head>
<body>
  <h1>Update Status</h1>
  <form action="/profile/<%= user.profile%>/update?_method=PUT"method="POST">
    <label for="status">Status:</label>
    <textarea id="status" name="status"></textarea>
    <button type="submit">Update Profile</button>
  </form>
</body>
</html>