<%- include('./partials/header') %>

<h1>JoystickJury</h1>
<body>

<ul>
  <h3>NAV</h3>
  <li><a href="#news">News</a></li>
  <li><a href="/videogames">Reviews</a></li>
  <li><a href="#features">Features</a></li>
  <li><a href="#videos">Videos</a></li>
</ul>
</body>
<%- include('./partials/footer') %>