html {
  background: url(/images/image.png) no-repeat center center fixed;
   background-size: cover;
  display: flex;
  align-items: center;
 flex-direction: column;
 
 width: 100vw;
  height: 100vh;
  
 }

 body {
  background-color: #fce25e;
  border-radius: 25px;
  display: table;
  border: 2px solid #fff;
  padding: 20px; 
  width: 300px;
  height: 150px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* h1 {
  text-align: center;

} */

header {
    background-repeat: no-repeat;
    /* padding: 10px; */
  }

/* Logo styles */
.logo {
  /* max-width: 100px; */
  background-position: center;
  height: 50%;

}

.column {
  float: left;
  width: 33.33%;
}

.row {
  content: "";
  display: table;
  clear: both;
}

/* 
.navhead {
background-image: url('public/stylesheet/images/navhead.png');

background-position: center;
background-repeat: no-repeat;
position: relative;
background-size: cover;
}  */

/* .recentNews {
  background-color: rgb(20, 117, 175) 
   
} */
/* .recentNews .news-title {
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size:55px;
  font-weight:bold;
  color: #fff;
} */
/* .recentNews .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
} */
.recentNews .ct-blog {
  margin-bottom: 30px;
}
.ct-blog .inner {
  background-color: #fff;
  padding: 30px 80px;
  /* transition: all 0.2s ease-in-out 0s; */
  cursor: pointer;
  height: 100%;
}
.ct-blog .inner:hover {
  background-color: #B933FF;
}
.ct-blog .fauxcrop {
  height: 180px;
  overflow: hidden;
}
.ct-blog .fauxcrop img {
  max-width: 500%;
}
.ct-blog-content {
  display: table;
  padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
  border-right: 1px solid #95A5A6;
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}
.ct-blog-content .ct-blog-date span {
  font-size: 16px;
  color: #000;  
  font-weight: 700;
  display: block;
  line-height: 2;
}
.ct-blog-content .ct-blog-date strong {
  font-size: 25px;
  color: #000;  
}
.ct-blog-content .ct-blog-header {
  color: #000;
  display: table-cell;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding:  20px;
  vertical-align: top;
}
.btn-news {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.btn-news.btn-contests a {
  color: #fff;
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
  color: #000;
}

#index {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  float: left;
    
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  } 

} /* take out if needed once all parts of layout is complete


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

} /* take out if needed once all parts of layout is complete  */

#blog-post {
  border: 4px solid blue;
}

#blog-details {
  border: 4px solid rebeccapurple;
}

