html {
  background: url(/images/image.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  border: 4px solid #009de4;
  border-radius: 25px;
  display: table;
  padding: 20px;
  width: 400px;
  height: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: "Audiowide", sans-serif;
  color: #009de4;
}

h3 {
  font-family: "Audiowide", sans-serif;
  color: #b933ff;
}

header {
  background-repeat: no-repeat;
}

/*LOGO STYLE*/
.logo {
  background-position: center;
  height: 50%;
}

.google {
  height: 20px;
  float: right;
}

.column {
  float: left;
  width: 33.33%;
}

.jurycon {
  font-weight: 700;
  display: block;
  line-height: 2;
  font-family: "Audiowide", sans-serif;
}

.jurycon a {
  font-size: 16px;
  color: rgba(0, 157, 228, 130);
}

.jurycon:hover {
  color: #b933ff;
}

.ct-blog .inner {
  background-color: #fff;
  padding: 0 0 5px 0;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 50%;
}

.ct-blog .inner:hover {
  background-color: #b933ff;
}

.ct-blog .fauxcrop {
  height: 180px;
  overflow: hidden;
}

.ct-blog .fauxcrop img {
  max-width: 150%;
}

.ct-blog-content .ct-blog-date {
  border-right: 1px solid #95a5a6;
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}

.ct-blog-content .ct-blog-date span {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  display: block;
  line-height: 2;
}

.ct-blog-content .ct-blog-date strong {
  font-size: 25px;
  color: #000;
}

.ct-blog-content .ct-blog-header {
  color: #000;
  display: table-cell;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding: 20px;
  vertical-align: top;
}
.btn-news {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}
.btn-news.btn-contests a {
  color: #fff;
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 24px;
  transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
  color: #b933ff;
}

.gameofmonth .ct-blog .inner {
  background-color: #fff;
  padding: 0 0 5px 0;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 50%;
}

.gameofmonth .fauxcrop {
  max-width: 100%;
}

.gameofmonth .inner:hover {
  background-color: #b933ff;
}
.socialmedia img {
  max-width: 45%;
}

.genres {
  font-family: "Audiowide", sans-serif;
  font-size: 35px;
}

.genres a:link {
  color: #009de4;
}

.genres a:hover {
  color: #b933ff;
}

.genres a:visited {
  color: #e46324;
}

hr.dotted {
  border-top: 7px dotted #fff;
}

hr.rounded {
  border-top: 8px solid transparent;
  border-radius: 5px;
}

#index {
  background-color: #000;
  opacity: 90%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  float: left;
  border-width: 5px;
}

#details a:link {
  color: #fff;
}

#details a:visited {
  color: #b933ff;
}

#details a:hover {
  color: #009de4;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.upcominggames {
  max-width: 100%;
}
/*BLOG CSS*/
#blog-post {
  padding: 0 0 5px 0;
  color: #ffffffda;
}

#blog-details {
  padding: 0 0 5px 0;
}

#blog-image {
  max-width: fit-content;
  width: auto;
  height: auto;
}

/*SEARCH RESULTS CSS*/
#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-container {
  display: block;
}

.image-container img {
  width: 100%;
  height: auto;
}

/* NAVBAR CSS */
.navbar {
  background-color: #b933ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid #009de4;
}

.profile-logout-container {
  display: flex;
  align-items: center;
}

.profile-logout-container a {
  color: white;
  font-family: "Audiowide", sans-serif;
  border-radius: 15px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 15px;
}

.profile-logout-container a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.search-bar input {
  margin-right: 5px;
}

#search-button {
  color: white;
  font-family: "Audiowide", sans-serif;
  border-radius: 15px;
  background-color: #009de4;
  border: 2px solid white;
  padding: 8px 8px;
  font-size: 14px;
}

.navbar a {
  color: white;
  background-color: #009de4;
  border: 2px solid white;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 8px;
}

/* VIDEOGAME INDEX PAGE */
#game-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-container {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.game-container:hover {
  border: 6px solid #b933ff;
  background-color: #b933ff;
  color: white;
}
