<%- include('../partials/blankheader') %>
<center><h2>Game Index</h2></center>
<% games.forEach(game => { %>
<div class="game-container">
  <% if (game.imageUrl) { %>
    <a href="/videogames/<%= game._id %>">
    <img src="<%= game.imageUrl %>" alt="Videogame Image" />
    <% } %>
  </a>
  <br />
  <h4><%= game.title %></h4>
  </div>
  <% }) %>