<!-- <div class="column"> -->
    <!-- this is the LEFT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
    <!-- <h3>Game of the Month</h3> -->

<!-- </div> -->
<!-- <div class="column"> -->
   <!-- this is the MIDDLE column. DO NOT REMOVE FOR REMINDER PURPOSES :D --> 
   <!--- here we will insert the most recent headline of a game. we can try to use an API to import news -->
   <!-- <section class="recentNews">
    <div class="container">
       <h3 class="news-title">Recent Verdicts</h3> 
      <div class="row">        
        <div class="ct-blog col-sm-6 col-md-4">
          <div class="inner">
            <div class="fauxcrop">
              <a href="#"><img alt="video game" src="https://t3.ftcdn.net/jpg/04/18/88/70/360_F_418887085_G10W0Da9hwhexnsedbYO7MC0q22brWOy.jpg"></a>
            </div>
            <div class="ct-blog-content">
              <div class="ct-blog-date">
                <span>Month</span><strong>Day</strong>
              </div>
              <h3 class="ct-blog-header">
                Insert Recent Headline via API
              </h3>
            </div>
          </div>
        </div>
      </div>
  </section>
</div> -->

<!-- <div class="column"> -->
     <!-- this is the RIGHT column. DO NOT REMOVE FOR REMINDER PURPOSES :D -->
     <!-- <h3>Upcoming Games</h3>
</div>
</div> -->